[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/andreyshestakov
[access "refs/for/refs/*"]
	read = group user/andreyshestakov
	push = group user/andreyshestakov
	label-Code-Review = -2..+2 group user/andreyshestakov
	label-Verified = -1..+1 group user/andreyshestakov
	rebase = group user/andreyshestakov
	removeReviewer = group user/andreyshestakov
	submit = group user/andreyshestakov
[access "refs/heads/*"]
	read = group user/andreyshestakov
	create = group user/andreyshestakov
	push = +force group user/andreyshestakov
	pushMerge = group user/andreyshestakov
[access "refs/tags/*"]
	push = group user/andreyshestakov
	push = +force group user/andreyshestakov
